flask
transformers
torch
huggingface-hub
tokenizers
safetensors
pyyaml
regex
networkx
jinja2
itsdangerous
werkzeug
click
blinker
fsspec
filelock
mpmath
sympy
typing-extensions
markupsafe
notebook
jupyter-events
nbconvert
nbformat
prometheus-client
websocket-client
